.content {
	max-width: 1024px;
 	margin: auto;
}

.profile {
	background-color: rgb(164,198,244);
	border: 1px solid black;
}

.avatar {
	width: 340px; 
    height: 340px;
	background-image: url(https://pp.userapi.com/c837729/v837729080/300c9/Z4846XJFM0k.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 170px;
    border: 3px solid #839EC3;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
}

h1 {
	text-align: center;
	color: rgb(26, 26, 26);
	line-height: 1.5;
}

h2 {
	font-size: 20px;
	//font-weight: bold;
	text-align: center;
	color: rgb(26, 26, 26);
	opacity: 0.9;
    line-height: 0;
	padding-bottom: 30px;
}

.contacts {
	background-color: rgb(237,237,237);
	border: 1px solid black;
	padding: 23px 45px;
}
